.idea/modules/
.idea/.name
.idea/workspace.xml
.idea/modules.xml
.idea/libraries
.idea/copyright
.idea/atlassian-ide-plugin.xml
.idea/uiDesigner.xml
target
.idea
target/
project/target/
ignoredfiles/
.DS_Store
derby.log
metastore_db
venv
*.sc
src/main/resources/dev/samples/
application.dev.conf

.temp_credentials
.terraform/
terraform.tfstate.backup